.panel-collapsible {
	margin-top: 15px;
}

.search-input {
	margin-top: 5px;
}

.space-list {
	margin-top: -20px;
}

.filter-list-rich-types-media {
	margin-top: -30px;
}

.panel-body {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}